body{Background-color:gray;} 
.topnav {overflow: hidden; background-color: black; text-color: white;}
.column {float: left; width:33.33%
/* need to learn how to create row and how to leave photos on the side
